{% load static %}
<li>
  <article class="post">
    <a href="">
      <img
        src="{% static 'blog/images/mountains.jpg'%}"
        alt="Mountain hiking"
      />
      <div class="post__content">
        <h3>Mountain Hiking</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas
          dicta, tempore, officia expedita corporis tempora ullam blanditiis
          minima dignissimos, doloremque ipsam magni ut incidunt reiciendis
          aliquam. Libero enim commodi omnis.
        </p>
      </div>
    </a>
  </article>
</li>
